<h1>プロフィール</h1>
<%= link_to '編集', edit_user_registration_path %>
<h3>アイコン画像</h3>
<% if @user.user_image = nil %>
  <%= image_tag 'default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png' %>
<% else %>
  <%= image_tag @user.user_image.url %>
<% end %>  
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>パスワード</h3>
<%= "*********"%>
<h3>プロフィール</h3>
<%= @user.profile %>