<div class="SearchRoomsFormContainer">
    <%= render "shared/search" %>
</div>

<div class="container">
<% if params[:search_area].blank? && params[:search_free].blank? %>
  <section class="RecommendAreaSection">
  <div class="RecommendAreas__title">
  <h2>おすすめのエリア</h2>
  </div>
  <div class="RecommendAreas">
    <%= link_to image_tag('tokyo2.jpg'), search_rooms_path(search_area: "東京"), class: 'RecommendArea', width: '50%', height: '50%' %>
    <%= link_to image_tag('osaka.jpg'), search_rooms_path(search_area: "大阪"), class: 'RecommendArea' %>
    <%= link_to image_tag('kyoto.jpg'), search_rooms_path(search_area: "京都"), class: 'RecommendArea' %>
    <%= link_to image_tag('sapporo2.jpg'), search_rooms_path(search_area: "札幌"), class: 'RecommendArea' %>
  </div>
  </section>
<% else %>
  <div class="RoomsContainer">
  <% if @rooms.present? %>
  <p class="RoomsContainer__result">
    <%= "#{@result_count}件が見つかりました。" %>
  </p>
  
  <ul class="RoomList">
    <% @rooms.each do |room| %>
    <li class="Room">
      <div class="RoomBodyWrapper">
        <p class="Room__name">
          <% if room.room_image.blank? %>
            <%= image_tag 'default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png', size: '30x20' %>
          <% else %>
            <%= image_tag room.room_image.url, size: '100x80' %>
          <% end %>  
        </p>
        <p class="Room__name">
          <%= room.room_name %>
        </p>
        <p class="Room__address">
          <%= room.address %>
        </p>
        <span class="Room__stars">
          <%= image_tag 'star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg', size: '10x10', alt: "スターアイコン" %>
          <%= image_tag 'star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg', size: '10x10', alt: "スターアイコン" %>
          <%= image_tag 'star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg', size: '10x10', alt: "スターアイコン" %>
          <%= image_tag 'star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg', size: '10x10', alt: "スターアイコン" %>
          <%= image_tag 'star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg', size: '10x10', alt: "スターアイコン" %>
        </span>
        <p class="Room__content">
          <%= room.content %>
        </p>
        <div class="RoomFooter">
          <p class="Room__price">
            <%= "¥#{room.price}~" %>
          </p>
          <%= link_to '詳細はこちら', room_path(room) %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
  </div>
<% end %>
</div>