<section class="container UserSection">
  <h2>設定</h2>

  <div class="UserContainer">
    <ul class="SideNavigation">
      <li class="SideNavigation__item ">
        <%= link_to 'アカウント', account_path(current_user) %>
      </li>

      <li class="SideNavigation__item active">
        <%= link_to 'プロフィール', profile_path(current_user) %>
      </li>
    </ul>

    <div class="AccountInformation">
      <ul class="TabNavigation">
        <li class="TabNavigation__item ">
          <%= link_to 'アカウント', account_path(current_user) %>
        </li>

        <li class="TabNavigation__item active">
           <%= link_to 'プロフィール', profile_path(current_user) %>
        </li>
      </ul>

      <div class="AccountInformation__header">
        <h3>アカウント</h3>
      </div>
      <form> 
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <%= render "shared/error", obj: @user %>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.text_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, "変更後パスワード" %><br />
            <%= f.text_field :password, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "確認用パスワード"%><br />
            <%= f.text_field :password_confirmation, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "保存" %>
            <%= link_to "Back", :back %>
          </div>
        <% end %>
      </form>
    </div>
  </div>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</section>
